<!DOCTYPE html>
<html lang="es-ES">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Juan Carlos Barba">
  <title>Reestablecer contraseña - Calendario semanal</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'week_calendar/style/base.css' %}">
  <link rel="stylesheet" href="{% static 'week_calendar/style/reset-psswd.css' %}">
  <link rel="shortcut icon" href="{% static 'week_calendar/images/icon.svg' %}" type="image/x-icon">
  <script type="module" src="{% static 'week_calendar/scripts/reset-psswd.js' %}"></script>
  <script type="module" src="{% static 'week_calendar/scripts/password-visibility.js' %}"></script>
</head>
<body>
    {% if token_error %}
        <div class="token-error-container">
            <div class="token-error">
                <img class="error-icon" src="{% static 'week_calendar/images/error-icon.svg' %}">
                <p>Token invalido o caducado. <a href="">Solicite un nuevo token.</a></p>
            </div>
        </div>
    {% else %}
        <div class="reset-psswd-container">
            <div class="reset-psswd">
                <header class="reset-psswd-header">
                    <h1>Reestablecer contraseña</h1>
                    <img class="logo" src="{% static 'week_calendar/images/logo-white.svg' %}" alt="calendar-logo" title="Calendar Logo">
                </header>
                <main class="reset-psswd-main">
                    {% if form.errors %}
                        <ul class="reset-psswd-errors">
                            {% for field, errors in form.errors.items %}
                                {% for error in errors %}
                                    <li class="reset-psswd-error">
                                        <img class="error-icon" src="{% static 'week_calendar/images/error-icon.svg' %}">
                                        <p>{{ error }}</p>
                                    </li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <form class="reset-psswd-form" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_password" class="form-icon">
                                <img class="label-icon" src="{% static 'week_calendar/images/password-icon.svg' %}" alt="password-icon" title="Nueva contraseña">
                            </label>
                            {{ form.password }}
                            <button class="visibility-psswd-button show">
                                <img class="show visibility-psswd-icon" src="{% static 'week_calendar/images/show-icon.svg' %}" alt="show-psswd-icon" title="Mostrar contraseña">
                                <img class="hide visibility-psswd-icon" src="{% static 'week_calendar/images/hide-icon.svg' %}" alt="hide-psswd-icon" title="Ocultar contraseña">
                            </button>
                        </div>
                        <div class="form-group">
                            <label for="id_repeat_password" class="form-icon">
                                <img class="label-icon" src="{% static 'week_calendar/images/password-icon.svg' %}" alt="password-icon" title="Repetir nueva contraseña">
                            </label>
                            {{ form.repeat_password }}
                            <button class="visibility-psswd-button show">
                                <img class="show visibility-psswd-icon" src="{% static 'week_calendar/images/show-icon.svg' %}" alt="show-psswd-icon" title="Mostrar contraseña">
                                <img class="hide visibility-psswd-icon" src="{% static 'week_calendar/images/hide-icon.svg' %}" alt="hide-psswd-icon" title="Ocultar contraseña">
                            </button>
                        </div>
                        <div class="reset-psswd-buttons">
                            <a class="login-button" href="{% url 'login' %}">Volver al login</a>
                            <button type="submit" class="reset-psswd-button">Reestablecer contraseña</button>
                        </div>
                    </form>
                </main>
            </div>
        </div>
    {% endif %}
</body>