@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --body-color: rgb(108, 100, 120);
  --primary-color: rgb(85, 52, 141);
  --darker-primary-color: color-mix(in srgb, var(--primary-color), black 20%);
  --lighter-primary-color: color-mix(in srgb, var(--primary-color), white 40%);
  --secondary-color: rgb(206, 203, 211);
  --darker-secondary-color: color-mix(in srgb, var(--secondary-color), black 20%);
  --lighter-secondary-color: color-mix(in srgb, var(--secondary-color), white 20%);
  --white: rgb(230,230,250);
  --black: rgb(0,0,20);
  --red: rgb(153, 0, 0);
  --green: rgb(70, 160, 70);
  --svg-color: var(--black);
  --border: 0.25rem solid rgb(0,0,0,0.2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  width: 0.35rem;
}
*::-webkit-scrollbar-track {
  background: none;
}
*::-webkit-scrollbar-thumb {
  border-radius: 5rem;
  transition: background 0.3s ease;
}

*:hover::-webkit-scrollbar-thumb {
  background: rgba(0,56,168,0.2);
}

button {
  background: none;
  color: inherit;
  border: none;
  box-shadow: none;
  font: inherit;
}

input, select {
    width: 100%;
    min-height: 2rem;
    padding: 0.25rem;
    background-color: var(--white);
    color: var(--black);
    border: var(--border);
    border-width: 0.15rem;
    font: inherit;
    &:focus {
      outline: none;
      border-color: rgb(0,0,0,0.5);
    }
}

body {
  background-color: var(--body-color);
  color: var(--black);
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
}