.request-reset-container {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.request-reset {
    width: 90%;
    max-width: 40rem;
    border-radius: 1rem 1rem 0 0;
    overflow: hidden;
    box-shadow: 0.5rem 0.5rem 0 0 rgb(0,0,0,0.2);
}

.logo {
    width: 5rem;
}

.request-reset-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--white);
    border-bottom: var(--border);
}

.request-reset-main {
    padding: 2rem;
    background-color: var(--secondary-color);
}

.request-reset-form {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1rem;
    &.active {
        display: flex;
    }
}

.form-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.label-icon {
    width: 3rem;
}

.request-reset-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.request-reset-button, .login-button {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 0.25rem;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        filter: brightness(1.1);
    }
}

.email-sended {
    display: none;
    &.active {
        display: block;
    }
}

.email-sended-message {
    padding: 1rem 0;
}