.reset-psswd-container {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-psswd {
    width: 90%;
    max-width: 40rem;
    border-radius: 1rem 1rem 0 0;
    overflow: hidden;
    box-shadow: 0.5rem 0.5rem 0 0 rgb(0,0,0,0.2);
}

.logo {
    width: 5rem;
}

.reset-psswd-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--white);
    border-bottom: var(--border);
}

.reset-psswd-main {
    padding: 2rem;
    background-color: var(--secondary-color);
}

.reset-psswd-error {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
    color: var(--red);
}

.error-icon {
    width: 1.5rem;
}

.reset-psswd-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1rem;
}

.form-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* gap: 0.25rem; */
}

.label-icon {
    width: 3rem;
}

.reset-psswd-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.reset-psswd-button, .login-button {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 0.25rem;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        filter: brightness(1.1);
    }
}

.token-error-container {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.token-error {
    width: 90%;
    max-width: 40rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;
    background-color: var(--secondary-color);
    border-radius: 1rem;
    font-size: 1.3rem;
    overflow: hidden;
    box-shadow: 0.5rem 0.5rem 0 0 rgb(0,0,0,0.2);
    & a {
        text-decoration: none;
        color: var(--primary-color);
        &:hover {
            filter: brightness(1.5);
        }
    }
}

.visibility-psswd-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.25rem;
    background-color: var(--lighter-primary-color);
    cursor: pointer;
    &:hover {
        filter: brightness(1.1);
    }
    &.show .show {
        display: block;
    }
    &.hide .hide {
        display: block;
    }
}

.visibility-psswd-icon {
    width: 2rem;
    display: none;
}