.app-container {
  margin: 1rem;
}

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--primary-color);
    color: var(--white);
    border-bottom: var(--border);
    border-radius: 0.5rem 0.5rem 0 0;
  }

.options-control-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.week-control {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.arrow-button {
  padding: 0 0.5rem;
  background-color: var(--lighter-primary-color);
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0.25rem 0.25rem 0 0 rgb(0,0,0,0.2);
  z-index: 10;
  &:first-of-type {
    border-right: var(--border);
    border-radius: 0.5rem 0 0 0.5rem;
  }
  &:last-of-type {
    border-left: var(--border);
    border-radius: 0 0.5rem 0.5rem 0;
  }
  &:hover {
    filter: brightness(1.1);
  }
}

.date-input {
  padding: 0.5rem;
  background-color: var(--secondary-color);
  color: var(--black);
  border: none;
  box-shadow: 0.25rem 0.25rem 0 0 rgb(0,0,0,0.2);
  font: inherit;
  font-size: 0.75rem;
  cursor: pointer;
  z-index: 20;
  &:hover {
    filter: brightness(1.1);
  }
  &:focus {
    outline: none;
  }
}

.options-button {
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
        filter: brightness(0.9);
    }
}

.options-icon {
    width: 2rem;
}

.app-main {
  padding: 1rem;
  border-top: none;
}

.calendar {
  width: 100%;
  min-height: 80vh;
  border-radius: 1rem 1rem 0.25rem 0.25rem;
  overflow: hidden;
  border-collapse: collapse;
  box-shadow: 0.5rem 0.5rem 0 0 rgb(0,0,0,0.1);
  & th:last-of-type {
    border-right: none;
  }
  & td:last-of-type {
    border-right: none;
  }
  & td, & th {
    padding: 0.5rem;
  }
  & th {
    width: 20%;
    background-color: var(--primary-color);
    color: var(--white);
    border-right: var(--border);
    border-bottom: var(--border);
    border-color: var(--darker-primary-color);
    font-weight: normal;
  }
  & td {
    border-right: var(--border);
  }
}

.day {
  height: 100%;
  align-content: start;
  background-color: var(--secondary-color);
  border-color: var(--darker-secondary-color);
}
  
.day-content-container {
  height: 65vh;
  overflow: auto;
}

.day-content {
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem 0.25rem;
  box-shadow: 0.25rem 0.25rem 0 0 rgb(0,0,0,0.2);
}

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  font-weight: bold;
}

.subject {
  text-transform: uppercase;
}

.content-main {
  padding: 0.25rem;
  border-top: var(--border);
  border-width: 0.15rem;
  text-align: justify;
  word-break: break-all;
  &::first-letter {
    text-transform: capitalize;
  }
}

.content-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  & button {
    cursor: pointer;
    &:hover {
      transform: scale(1.05);
    }
  }
  & .icon {
    width: 1.25rem;
    & path {
      fill: var(--svg-color);
    }
  }
}

.add-button {
  text-align: center;
  background-color: var(--lighter-primary-color);
  color: var(--black);
  border-color: color-mix(in srgb, var(--lighter-primary-color), black 20%);
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    filter: brightness(1.1);
  }
}

.options-menu-background {
    position: fixed;
    inset: 0;
    visibility: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 2rem;
    z-index: 100;
    &.active {
        visibility: visible;
        & .options-menu-container {
            animation: expand-menu 0.1s ease-in forwards;
        }
    }
}

.options-menu-container {
    min-width: 20rem;
    overflow: hidden;
    border-radius: 1rem;
}

.options-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--darker-primary-color);
    color: var(--white);
    border-bottom: var(--border);
}

.options-menu-item {
    padding: 0.5rem;
    background-color: var(--lighter-secondary-color);
    border-bottom: var(--border);
    border-width: 0.2rem;
    cursor: pointer;
    &:last-of-type {
        border-bottom: none;
    }
    &:hover {
        filter: brightness(0.9);
    }
    & a {
        display: block;
        color: inherit;
        font: inherit;
        text-decoration: none;
    }
}

.logout-button {
    display: block;
    width: 100%;
    height: 100%;
    color: inherit;
    font: inherit;
    text-align: inherit;
    cursor: pointer;
}

.modal-background {
  position: fixed;
  inset: 0;
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0,0,0,0.2);
  transition: opacity 0.05s ease-in;
  z-index: 100;
  &.active {
    visibility: visible;
    opacity: 1;
  }
}

.modal {
  min-width: 30rem;
  border-radius: 1rem 1rem 0 0;
  overflow: hidden;
  box-shadow: 0.5rem 0.5rem 0 0 rgb(0,0,0,0.2);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--primary-color);
  color: var(--white);
  border-bottom: var(--border);
}

.close-button {
  font-weight: bold;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}

.modal-main {
  padding: 1rem;
  background-color: var(--secondary-color);
}

.event-form {
  & label {
    display: block;
    color: var(--black);
    font: inherit;
  }
}

.form-row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  padding: 0.5rem 0;
}

.form-element {
  flex: 1;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem 0;
}

.submit-event {
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: 0.25rem;
  cursor: pointer;
  &:hover {
    filter: brightness(1.1);
  }
}

.delete-choice {
  display: flex;
  justify-content: space-around;
  align-items: center;
  & button {
    padding: 0.5rem 3rem;
    color: var(--white);
    border-radius: 0.25rem;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      filter: brightness(1.1);
    }
  }
  & .confirm-delete {
    background-color: var(--green);
  }
  & .cancel-delete {
    background-color: var(--red);
  }
}

.subjects-list {
    max-height: 20rem;
    overflow: auto; 
    padding-right: 0.5rem;
}

.csrf-token-item {
    display: none;
}

.subject-item {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    list-style: none;
    border: var(--border);
    border-color: var(--lighter-primary-color);
    border-right: none;
    border-left-width: 1rem;
    &:not(:first-child) {
        border-top: none;
    }
}

.subject-inputs {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
}

.input-separator {
    color: var(--lighter-primary-color);
    font-size: 1.5rem;
}

.subject-code-input {
    width: 4rem;
    text-align: center;
    text-transform: uppercase;
}

.subject-color-input {
    width: 3.5rem;
    height: 2rem;
    padding: 0;
    cursor: pointer;
    &::-webkit-color-swatch-wrapper {
        padding: 0;
    }
}

.subject-text-color-input {
    display: none;
}

.text-color-button {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
    &.black {
        color: var(--black);
    }
    &.white {
        color: var(--white);
    }
}

.delete-subject-button {
    padding: 1rem;
    background-color: var(--lighter-primary-color);
    cursor: pointer;
    &:hover {
        filter: brightness(1.1);
    }
}

.delete-subject-icon {
    width: 1.5rem;
    & * {
        fill: var(--white);
    }
}

.add-subject-button-container {
    padding-right: 0.85rem;
}

.add-subject-button {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    &:hover {
        filter: brightness(1.1);
    }
}

.delete-subject {
    & .question {
        max-width: 50rem;
        word-wrap: break-word;
        overflow-wrap: break-word;
        word-break: break-all;
    }
    & .question-info {
        padding: 1rem;
        color: var(--primary-color);
    }
}

.warning-icon {
    width: 3rem;
    & * {
        fill: var(--white);
    }
}

@keyframes expand-menu {
    0% {
        transform: scale(1,0);
    }
    90% {
        transform: scale(0.75,1.25);
    }
    100% {
        transform: scale(1);
    }
}